@charset "utf-8";

/*
@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);
*/

@font-face {
  font-family: 'Droid Sans Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans Mono Regular'), local('DroidSansMono-Regular'), url(DroidSansMono-Regular.ttf) format('truetype');
}

/*
@font-face {
        font-family: 'DejaVuSansMono';
        src: url('DejaVuSansMono.eot');
        src: url('DejaVuSansMono.eot?#iefix') format('eot'),
             url('DejaVuSansMono.woff') format('woff'),
             url('DejaVuSansMono.ttf') format('truetype');
}
*/

body {
    margin: 0;
    background-color: #000;
/*    font-family: "DejaVuSansMono", "DejaVu Sans Mono", "Monaco", "Consolas", monospace; */
    font-family: droid sans mono, monospace;
    color: #b82;
}

#wrapper {
    width: 100%;
    visibility: hidden;
}

.highlight {
    background-color: #332233;
}

#ROTDisplay {
    margin-right: 20px;
    height: 100%;
    background-color: #000000;
    position: fixed;
/*    display: block; */
    padding: 5px;
    float: left;
}

.ui {
    width: 350px;
    height: 100%;
/*    background-color: #222222; */
    float: right;
    position: relative;
    display: inline-block;
    overflow-y: auto;
    overflow-x: hidden;
}

#status {
    text-align: left;
    padding: 8px 10px 15px;
    margin: 4px 5px 0px;
    color: #DEDEDE;
    background-color: rgba(34, 34, 34, 0.125);
    border: 1px rgba(34, 34, 34, 0.75) solid;
/*    display: none; */
}

#legend {
    text-align: left;
    padding: 8px 10px 15px;
    margin: 4px 5px 0px;
    color: #DEDEDE;
    background-color: rgba(34, 34, 34, 0.125);
    border: 1px rgba(34, 34, 34, 0.75) solid;
}

.uibot {
    width: 900px;
    margin-top: 460px;
    float: left;
    position: relative;
    display: inline-block;
    overflow-y: auto;
    overflow-x: hidden;
}

#messages {
    text-align: left;
    padding: 8px 10px 15px;
    margin: 4px 5px 0px;
    color: #DEDEDE;
    height: 100px;
    background-color: rgba(34, 34, 34, 0.125);
    border: 1px rgba(34, 34, 34, 0.75) solid;
}

#overlay {
    visibility: hidden;
    position: absolute;
    left: 100px;
    top: 0px;
/*    width:80%; */
/*    height:100%; */
    text-align:center;
    z-index: 1000;
}

#overlay #main {
    float: left;
    width: 400px;
    height: 500px;
/*  margin-left: 150px; */
    margin-top: 75px;
    color: #DEDEDE;
    background-color: rgba(34, 34, 34, 0.85);
    text-align: left;
    border:1px solid #333;
    padding:15px;
}

#overlay #sub {
    visibility: hidden;
    position: relative;
    float: right;
    width: 500px;
    height: 475px;
/*  margin-left: 550px; */
    margin-top: 75px;
    color: #DEDEDE;
    background-color: rgba(34, 34, 34, 0.85);
    text-align: left;
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    border-color: #333;
    padding:15px;
}
