@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);

body {
    margin: 0;
    background-color: #000;
    font-family: droid sans mono, monospace;
    color: #b82;
}

#wrapper {
    width: 100%
}

#ROTDisplay {
    margin-right: 20px;
    height: 100%;
    background-color: #000000;
    position: fixed;
//    display: block;
    padding: 5px;
    float: left;
}

.ui {
    width: 350px;
    height: 100%;
//    background-color: #222222;
    float: right;
    position: relative;
    display: inline-block;
    overflow-y: auto;
    overflow-x: hidden;
}

#status {
    text-align: left;
    padding: 8px 10px 15px;
    margin: 4px 5px 0px;
    color: #DEDEDE;
    background-color: rgba(34, 34, 34, 0.125);
    border: 1px rgba(34, 34, 34, 0.75) solid;
//    display: none;
}

.uibot {
    width: 900px;
    margin-top: 460px;
    float: left;
    position: relative;
    display: inline-block;
    overflow-y: auto;
    overflow-x: hidden;
}

#messages {
    text-align: left;
    padding: 8px 10px 15px;
    margin: 4px 5px 0px;
    color: #DEDEDE;
    height: 100px;
    background-color: rgba(34, 34, 34, 0.125);
    border: 1px rgba(34, 34, 34, 0.75) solid;
}